<style>
  h1, p {
    text-align: center;
  }

  h1{
    font-size: 60px;
  }

  p{
    font-size: 30px;
  }
</style>

<h1>About</h1>
<p>
  ながのCAKEは全国発送可能なケーキ屋さんです。<br>
  お⼦様からお年寄りの⽅までお召し上がりいただけるよう、<br>
  様々なバリエーションをご⽤意しております。<br>
  また、全国へ発送可能ですので「いつ」でも「どこ」でもご注⽂いただけます。<br>
  ぜひご注⽂ください。
</p>
<div class="container">
  <div class="row">
    <div class="col-xs-offset-3 col-xs-5">
      <%= image_tag "WELCOME-ST-IVES.jpg", width: '120%', height: '100%', class: "topimage"%>
    </div>
  </div>
</div>