<style>
  span{
    margin-right: 30px;
  }

  .edit-genre {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 9pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #00b300;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 5px 5px 7px #666666;  /* 影の設定 */
  border        : 2px solid #00b300;    /* 枠の指定 */
}
.edit-genre:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #00b300;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}
</style>



<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <%= form_with model:@genre, url: admin_genre_path(@genre), local:true do |f| %>
        <h2>ジャンル編集</h2>
        <p>
          <span>ジャンル名</span>
          <span><%= f.text_field :name %></span>
          <span><%= f.submit "変更を保存", class: "edit-genre"%></span>
        </p>
      <% end %>
    </div>
  </div>
</div>