

<div class="container">
  <p>商品一覧</p>
  <a href="goods/new" class="btn btn--circle btn--circle-c btn--shadow"><i class="fas fa-arrow-up">＋</i></a>
  <table class="table">
  	<thead>
  		<tr class ="active">
  			<th>商品ID</th>
  			<th>商品名</th>
  			<th>税抜価格</th>
  			<th>ジャンル</th>
  			<th>ステータス</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<th>後で実装</th>
  			<td>後で実装</td>
  			<td>後で実装</td>
  			<td>後で実装</td>
  			<td>後で実装</td>
  		</tr>
  		<tr>
  			<th>後で実装</th>
  			<td>後で実装</td>
  			<td>後で実装</td>
  			<td>後で実装</td>
  			<td>後で実装</td>
  		</tr>
  		<tr>
  			<th>後で実装</th>
  			<td>後で実装</td>
  			<td>後で実装</td>
  			<td>後で実装</td>
  			<td>後で実装</td>
  		</tr>
  		<tr>
  			<th>後で実装</th>
  			<td>後で実装</td>
  			<td>後で実装</td>
  			<td>後で実装</td>
  			<td>後で実装</td>
  		</tr>
  		<tr>
  			<th>後で実装</th>
  			<td>後で実装</td>
  			<td>後で実装</td>
  			<td>後で実装</td>
  			<td>後で実装</td>
  		</tr>
  	</tbody>
  </table>
</div>

<!--each 処理をした後に %=paginate @〇〇 %　を記入する。詳しくは、アプリケーションを作ろう２の第４章ページャを実装するを参照-->