<div class="container">
  <h3 class="pb20">商品新規登録</h3>
  <!--以下０７ viewファイル（_common）より引用-->
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <%= form_with model:@goods, local:true do |f| %>
        <% if @goods.errors.any? %>
         <h2><%= @goods.errors.count %>error prohibited this goods from being created:</h2>
          <ul>
            <% @goods.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        <table class="table">
          <thead>
          </thead>
          <tbody>
            <tr>
              <th scope="row">商品画像</th>
              <td>画像ファイル</td>
            </tr>
            <tr>
              <th scope="row">商品名</th>
              <td>商品名フィールド</td>
            </tr>
            <tr>
              <th scope="row">商品説明</th>
              <td>商品説明エリア</td>
            </tr>
            <tr>
              <th scope="row">ジャンル</th>
              <td>ジャンル選択</td>
            </tr>
            <tr>
              <th scope="row">税抜価格</th>
              <td>税抜価格フィールド</td>
            </tr>
            <tr>
              <th scope="row">販売ステータス</th>
              <td>販売ステータス</td>
            </tr>
          </tbody>
        </table>
        <!--%= link_to admins_good_path do %-->
        <!--  <button type="button" class="btn btn-default w-100 " aria-label="Left Align"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button>-->
        <!--% end %-->
      <% end %>
    </div>
  </div>
</div>

